@model AppWeb.Models.CategoriaEntity

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<div class="panel panel-default">

    <div class="panel-body">

        <fieldset>
            <legend>Estas seguro que deseas eliminar esto?</legend>

            <div class="display-label">
                 @Html.DisplayNameFor(model => model.CategoriaID)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.CategoriaID)
            </div>

            <div class="display-label">
                 @Html.DisplayNameFor(model => model.Nombre)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Nombre)
            </div>
        </fieldset>
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
            <p>
                <input type="submit" value="Eliminar" class="btn btn-danger" />
                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
            </p>
        }


    </div>

</div>