@model AppWeb.Models.CategoriaEntity

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle de Categoria</h2>

<div class="panel panel-default">

    <div class="panel-body">

        <fieldset>

            <legend>Datos</legend>

            <div class="display-label">
                 @Html.DisplayNameFor(model => model.CategoriaID)
            </div>

            <div class="display-field">
                @Html.DisplayFor(model => model.CategoriaID)
            </div>

            <div class="display-label">
                 @Html.DisplayNameFor(model => model.Nombre)
            </div>

            <div class="display-field">
                @Html.DisplayFor(model => model.Nombre)
            </div>

        </fieldset>

        <p>
            @Html.ActionLink("Editar", "Edit", new { /* id=Model.PrimaryKey */ }, new { @class = "btn btn-danger"})
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
        </p>


    </div>

</div>