@model AppWeb.Models.CategoriaEntity

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle de Categoria</h2>

<fieldset>
    <legend>Datos</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CategoriaID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CategoriaID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.CategoriaID }) |
    @Html.ActionLink("Volver a categorias", "Index")
</p>
