@model AppWeb.Models.CategoriaEntity

@{
    ViewBag.Title = "Editar";
}

<h2>Editar Categoria</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Datos</legend>
        @Html.HiddenFor(model => model.CategoriaID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Volver a categorias", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
