@model AppWeb.Models.CategoriaEntity

@{
    ViewBag.Title = "Editar";
}

<h2>Editar Categoria</h2>

<div class="panel panel-default">

    <div class="panel-body">

        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Datos</legend>
                @Html.HiddenFor(model => model.CategoriaID)
                <div class="row">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">
                                @Html.LabelFor(model => model.Nombre)
                            </span>
                            @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", placeholder = "Nombre de la categoria" })
                            @Html.ValidationMessageFor(model => model.Nombre)
                        </div>
                    </div>
                </div>

                <br />

                <p>
                    <input type="submit" value="Editar" class="btn btn-danger" />
                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
                </p>
            </fieldset>
        }

    </div>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
