@model AppWeb.Models.ProductoEntity

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Estas seguro que deseas eliminar esto?</h3>
<fieldset>
    <legend>Producto</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductoID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductoID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descripcion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CategoriaEntity.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CategoriaEntity.Nombre)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Eliminar" /> |
        @Html.ActionLink("Volver a productos", "Index")
    </p>
}
