@model IEnumerable<AppWeb.Models.ProductoEntity>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de Productos</h2>

<div class="panel panel-default">
    <div class="panel-body">
        <p>
            @Html.ActionLink("Crear nuevo", "Create", null, new { @class = "btn btn-danger" })
        </p>
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductoID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CategoriaEntity.Nombre)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductoID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoriaEntity.Nombre)
                    </td>
                    <td class="table-operation">
                        <a href="@Url.Action("Edit", "Categoria", new { id = item.ProductoID})" class="btn btn-danger">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                        <a href="@Url.Action("Edit", "Categoria", new { id = item.ProductoID})" class="btn btn-warning">
                            <i class="glyphicon glyphicon-file"></i>
                        </a>
                        <a href="@Url.Action("Delete", "Categoria", new { id = item.ProductoID})" class="btn btn-default">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
